<!-- <div class="col-sm-6 mx-auto">
    <div class="container" align = "center">
        <h3>Edit your Blog Here....</h3>
    </div>
    <form class="container" [formGroup]="editBlog">
        <div class="mb-3">
          <label for="title" class="form-label">Blog Title</label>
          <input type="text" class="form-control" id="" formControlName="title">
        </div>
        <div class="mb-3">
          <label for="author" class="form-label">Author</label>
          <input type="text" class="form-control" id="" formControlName="author">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea type="textarea" style="height: 150px;" class="form-control" id="content"
              formControlName="content"></textarea>
            </div>
        <button type="submit" class="btn btn-primary"(click)= "OnSumbit()">Submit</button>
      </form>
    </div>
     -->